/**
* Site header
*/
.site-header {
  font-family: $slab-serif;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));

    @include media-query($on-laptop) {
      max-width: calc(#{$content-width} - (#{$spacing-unit}));
    }
  }
}

.site-title {
  font-size: 24px;
  font-weight: 300;
  margin-top: 8px;
  padding: 0;
  color: #333;
  opacity: 0.7;
  transition: 200ms opacity;
  text-align: left;
  display: inline-block;

  &:hover {
    color: #333;
    opacity: 1;
    text-decoration: none;
  }
}

.site-nav {
  display: inline-block;
  margin-top: 16px;
  text-align: right;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
* Site footer
*/
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}



/**
* Pages
*/
.page-title {
  font-family: $slab-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-weight: 400;
  font-size: 21px;
  color: #333;
}

.page-content {
  padding: $spacing-unit 0;
  min-height: calc(100vh - 210px);
}

.page-heading {
  font-size: 21px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  h2 {
    margin-bottom: 5px;
  }

  > li {
    padding: 10px 0;
    margin-bottom: $spacing-unit;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(0,0,0,0.15);
    }
  }
}

.tag-list {
  margin-left: 0;
  list-style: none;

  > li {
    display: inline-block;
    border: 1px solid #aaaab2;
    border-radius: 3px;
    margin-right: 5px;
    transition: 200ms border-color;

    &:hover {
      border-color: #333;
    }

    a {
      display: block;
      padding: 6px 12px;
      opacity: 0.7;
      transition: 200ms opacity;

      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: transparentize($text-color, 0.7);
  font-family: $slab-serif;
  margin-bottom: 8px;
}

.post-tags {
  font-size: $small-font-size;
  color: #aaaab2;
  font-family: $slab-serif;
  margin: 8px 0 12px;

  span {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    opacity: 0.6;
    transition: 200ms opacity;

    &:hover {
      opacity: 1;
    }
    
    a {
      display: block;
      padding: 4px 10px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.post-backlink {
  border-bottom: 1px solid $grey-color;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 32px;
  padding: 2px 0;
  text-align: left;
  text-transform: uppercase;

  a {
    color: $grey-color;
    transition: color 200ms;

    &:hover {
      text-decoration: none;
      color: #333;
    }
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1.3;
  margin-bottom: 8px;
  font-family: $slab-serif;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-subtitle {
  font-family: $slab-serif;
  font-size: 18px;
  margin-bottom: 8px;
}

.post-content {
  margin-bottom: $spacing-unit;

  p {
    margin-bottom: 15px;
  }

  ul, ol {
    margin-left: $spacing-unit;
  }

  a {
    font-weight: 400;
    position: relative;

    &:after {
      content: '';
      width: calc(100% + 2px);
      position: absolute;
      left: -1px;
      bottom: 0;
      border-bottom: 1px solid currentColor;
      opacity: 0;
      transition: 200ms opacity;
    }

    &:hover:after {
      opacity: 1;
    }
  }

  h2 {
    margin-top: 45px;
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    margin-top: 40px;
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 35px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post-image {
  margin: 40px 0;
  text-align: center;

  p {
    font-size: 13px;
    padding: 12px;
  }
}

.about-the-author {
  color: #aaaab2;
  font-weight: 300;
  margin: 60px 0;

  span {
    font-weight: 500;
  }

  hr {
    border: 0;
    border-top: 1px solid #aaaab2;
    width: 50px;
    padding-bottom: 10px;
  }
}
